@CHARSET "UTF-8";
*{margin:0px;padding:0px;text-align:center;}
body{background: url(2.jpg) no-repeat fixed ;filter:alpha(opacity=70);background-size:100% 100%;}
div{margin:0 auto; width:390px;height:350px;background-color:#B5FFFF;}
#top{text-align:center; margin-left:0px;}
p{text-align:left;font-size:25px; margin-left:50px;line-height:38px;}
span{margin-left:20px;}
#score{color:red;text-decoration:underline;}
